{% extends "layouts/start.html" %}
{% set signedIn = false %}
{% set serviceUrl = '/' %}
{% set serviceName = '' %}
{% set title = 'GOV.UK' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">
        Check a teacher’s record
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body-l">Check a person's teaching record before they start working in your school or college.</p>

<p class="govuk-body-s">Contents<br>
– <a href="#overview">Overview</a><br>
– <a href="#check">Check a teacher's record online</a><br> 
– <a href="#access">Accessing Check a teacher’s record</a><br>
– <a href="#contact">Contact</a></p>

<h2 id="overview" class="govuk-heading-l">Overview</h2>
<p>You must check if a candidate for a teaching role is suitable before they start working for you in a school or college in England.</p>
<p>If you use a teacher supply agency you must make sure they’ve checked the candidate’s teaching record.</p>
<p>This guidance tells you:</p>
<ul class="govuk-list govuk-list--bullet">
<li>what you can use the Check a teacher’s record service for</li>
<li>what you need to access Check a teacher’s record</li>
</ul>
<h2 id="check" class="govuk-heading-l">Check a teacher’s record online</h2>
<p>Use the <a href="https://check-a-teachers-record.education.gov.uk/check-records/sign-in">Check a teacher’s record service</a> to check the record of anyone with a teacher reference number (TRN) including:</p>
<ul class="govuk-list govuk-list--bullet">
<li>teachers</li>
<li>teaching assistants</li>
<li>higher learning teaching assistants</li>
<li>former teachers</li>
</ul>
<p>This service helps schools and colleges carry out some of the safeguarding checks that must be completed before staff start work such as:<p> 
<ul class="govuk-list govuk-list--bullet">
<li>a professional qualifications check</li>
<li>a check to see if someone is prohibited from teaching</li>
</ul>
<p>You can search for a record using someone's last name and date of birth. You do not need to know their TRN, but the service will only show a record if someone has a TRN.</p>
<h3 class="govuk-heading-m">Teaching status and qualifications</h3>
<p>Check a teacher’s record will tell you whether someone has:</p>
<ul class="govuk-list govuk-list--bullet">
<li>qualified teacher status (QTS) or early years teacher status (EYTS)</li> 
<li>passed their induction</li>
<li>national professional qualifications (NPQ) or mandatory qualifications for teaching pupils with sensory impairments</li>
</ul>
<p>It will not tell you if someone has qualified teacher learning and skills (QTLS) status. You need to check the <a href="https://set.et-foundation.co.uk/your-career/professional-status-register">Society for Education and Training professional register</a>.<p>
<h3 class="govuk-heading-m">Prohibitions and alerts</h3>
<p>Check a teacher’s record will tell you whether someone has:</p>
<ul class="govuk-list govuk-list--bullet">
<li>been prohibited from teaching by the Teaching Regulation Agency (TRA)</li>
<li>had sanctions or restrictions placed on them by the General Teaching Council for England (GTCE)</li>
<li>been found guilty of serious misconduct but not prohibited from teaching</li>
</ul>
<p>You cannot download and view a full list of people with prohibitions, sanctions or restrictions due to data protection regulations.</p>
<h3 class="govuk-heading-m">Section 128 list</h3>
<p>Check a teacher’s record does not provide a list of people who are not allowed to manage or govern schools (called the section 128 list).</p>
<p>You need to <a href="https://www.gov.uk/government/collections/individuals-prohibited-from-managing-or-governing-schools">check the Section 128 list</a> separately.</p>
<h3 class="govuk-heading-m">Children’s barred list</h3>
<p>You cannot use Check a teacher’s record for Disclosure and Barring Service (DBS) checks.</p>
<p>Use <a href="https://check-the-childrens-barred-list.education.gov.uk/sign-in">Check the children’s barred list</a> to carry out a standalone children’s barred list check only if a new employee either:</p>
<ul class="govuk-list govuk-list--bullet">
<li>will start working with children while waiting for the result of an enhanced DBS check</li>
<li>does not need an enhanced DBS check because they’ve worked with children in a school or college within the last 3 months</li>
</ul>
<p>Supply agencies cannot use this service as they must carry out an enhanced DBS check with children’s barred list information before employing someone.</p>
<h3 class="govuk-heading-m">'Claiming’ and ‘disowning’ teachers</h3> 
<p>You cannot add (‘claim’) or remove (‘disown’) a teacher from your organisation in Check a teacher’s record.</p>
<p>This is not required as part of the safeguarding checks you must carry out on staff before they start work.</p>
<h2 id="access" class="govuk-heading-l">Accessing Check a teacher’s record</h2>
<p>You need a DfE Sign-in account to use Check a teacher’s record. If you do not have one then you can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>ask your organisation’s approver to create an account for you</li>
<li>use the <a href="https://help.signin.education.gov.uk/contact-us">contact form</a> to request an account if you do not have an approver</li>
<li>email <a href="mailto:teaching.status@education.gov.uk">teaching.status@education.gov.uk</a> if you work for a teacher supply agency – you should normally receive a response within 5 working days</li>
</ul>
<p>If you need to check a teacher’s record while you wait for your DfE Sign-in account, email <a href="mailto:employer.access@education.gov.uk">employer.access@education.gov.uk</a> and say ‘urgent query’ in the subject line.</p>
<!-- <h2 id="record" class="govuk-heading-l">Keeping a record of checks</h2> 
<p>Schools and colleges must keep a single central record (SCR) of the safeguarding checks they carry out on staff before they start work. These must include:</p>
<ul class="govuk-list govuk-list--bullet">
<li>an identity check</li>
<li>a children's barred list check</li>
<li>an enhanced DBS check</li>
<li>a check to see if someone is prohibited from teaching</li>
<li>further checks on people who have lived or worked outside the UK</li>
<li>a professional qualifications check (if required)</li>
<li>a check to see if someone has the right to work in the UK</li>
</ul>
<p>When a teacher stops working for you, you must remove their personal data from the SCR.</p>
<p>Ofsted inspectors will review the SCR for the school and how checks are carried out.</p>
<p>You are not required to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>add (‘claim’) or remove (‘disown’) a teacher from your organisation</li>
<li>print and keep teachers’ records</li>
</ul> -->
<h2  id="contact" class="govuk-heading-l">Contact</h2>
<p>Email <a href="mailto:teaching.status@education.gov.uk">teaching.status@education.gov.uk</a> if you have questions about the new service. We will aim to respond within 5 working days.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="x-govuk-related-navigation">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="govuk-heading-m" id="related-navigation-related-content">
          Related content
        </h2>
        <ul class="govuk-list">
          <li>
            <a href="https://check-a-teachers-record.education.gov.uk/check-records/sign-in">Check a teacher's record</a>
          </li>
          <li>
            <a href="https://www.gov.uk/guidance/teacher-reference-number-trn">Teacher reference number</a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</div>
{% endblock %}
